<h1 class="text-white text-center text-7xl">Explore everywhere</h1>
<div class="bg-white rounded-lg p-8 relative z-10">
  <h3 class="text-2xl mt-0">Search flights</h3>
  <%= form_with model: @flights, method: :get, url: '/flights', class: 'grid grid-cols-5 gap-4 z-11' do |f| %>

    <div class="departure flex flex-col">
      <%= f.label :departure_airport, "From:", class: "text-white font-bold mb-2" %>
      <%= f.select :departure_airport,
               @airports.map { |a| [a.name, a.code] },
               {},
               class: "w-full px-4 py-2 rounded-lg" %>
    </div>
    <div class="departure flex flex-col">
      <%= f.label :arrival_airport, "To:", class: "text-white font-bold mb-2" %>
      <%= f.select :arrival_airport,
               @airports.map { |a| [a.name, a.code] },
               { class: "bg-white" },
               class: "w-full px-4 py-2 rounded-lg" %>
    </div>
    <div class="flight-date flex flex-col">
      <%= f.label :flight_date, "Departure date:", class: "text-white font-bold mb-2" %>
      <%= f.select "flight_date",
               options_from_collection_for_select(
                 @flights,
                 "departure_time",
                 lambda { |flight| flight.departure_time&.strftime("%Y-%m-%d") }
               ),
               class: "custom" %>

    </div>

    <div class="num_pax flex flex-col">
      <%= f.label :num_pax, "Number of passengers:", class: "text-white font-bold mb-2" %>
      <%= f.select :num_pax, (1..4).to_a, class: "w-full px-4 py-2 rounded-lg" %>
    </div>
    <div class="cta flex">
      <%= f.submit "Find flights",
               class:
                 "self-end cursor-pointer btn-primary h-[44px] bg-blue-500 hover:bg-blue-600 rounded-md p-2 text-white font-bold" %>
    </div>

  <% end %>
</div>
<% if @results.present? %>
  <div class="bg-white w-screen -mt-[80px] rounded-lg p-16 -z-0 relative">
    <h3>Search results</h3>
    <% @results.each do |result| %>

      <p><%= result.flight_no %></p>

    <% end %>
  </div>

<% end %>
