<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body
    class="
      bg-black
      bg-[url('sunset.jpg')]
      bg-cover
      bg-blend-screen
      prose
      min-w-full
      h-screen
      grid
      place-items-center
      relative
    "
  >
    <main class="container mx-auto mt-0 px-5 z-11">
      <%= yield %>
    </main>

  </body>
</html>
